body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333; /* Cor de fundo escura */
    color: #fff; /* Cor do texto clara */
    height: auto; /* Altura automática */
    margin: 0; /* Remove margens padrão do body */
    display: flex;
    flex-direction: column;
}

h1 {
    color: #0070c0; /* Título em cor azul */
}
h2{
    color: #0070c0; /* Título em cor azul */
}
h3 {
    color: #0070c0; /* Título em cor azul */
}
.crypto-list {
    margin: 20px auto;
    width: 80%;
    max-width: 4500px;
    max-height: 850px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #444; /* Fundo da área de informações escura */
    color: #fff; /* Texto na área de informações em cor clara */
    height: 100%; /* Altura de 100% para ocupar todo o espaço vertical disponível */
}

.crypto-list {
    flex-direction: column;
    text-align: center;

}

.crypto-info {
    margin-top: 20px;
    text-align: center;
}

#chart {
    width: 100%;
    width: 1500px;
    height: 120px;
    align-items: center;
}

#crypto-news {
    margin-top: 30px;
    text-align: center;
}

#news-list {
    list-style-type: none;
    padding: 0;
}

#news-list li {
    margin: 15px 0;
    font-size: 32px;
    line-height: 1.4;
}

#news-list a {
    text-decoration: none;
    color: #0070c0;
}

#news-list a:hover {
    text-decoration: underline;
}

.blue-text {
    color: #0070c0;
}
